In [2]:
import pandas as pd
df = pd.read_csv('Melbourne_housing18.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [6]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [7]:
df.shape

(34857, 21)

In [22]:
df1 = ['Suburb', 'Rooms','Type', 'Method','SellerG','Regionname', 'Distance','Bathroom','Car','Landsize','BuildingArea','Price']

In [23]:
df = df[df1]
df.head(2)

,Suburb,Rooms,Type,Method,SellerG,Regionname,Distance,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,2.5,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,2.5,1.0,1.0,202.0,NaN,1480000.0

In [24]:
df.shape

(34857, 12)

In [25]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Distance            1
Bathroom         8226
Car              8728
Landsize        11810
BuildingArea    21115
Price            7610
dtype: int64

In [27]:
col_fillzero = ['Distance','Bathroom','Car','BuildingArea','Landsize']
df[col_fillzero]= df[col_fillzero].fillna(0)
df.isna().sum()

Suburb             0
Rooms              0
Type               0
Method             0
SellerG            0
Regionname         3
Distance           0
Bathroom           0
Car                0
Landsize           0
BuildingArea       0
Price           7610
dtype: int64

In [28]:
df.dropna(inplace=True)
df.isna().sum()

Suburb          0
Rooms           0
Type            0
Method          0
SellerG         0
Regionname      0
Distance        0
Bathroom        0
Car             0
Landsize        0
BuildingArea    0
Price           0
dtype: int64

In [30]:
df = pd.get_dummies(df, drop_first=True)
df.head(2)

,Rooms,Distance,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,...,SellerG_iProperty,SellerG_iSell,SellerG_iTRAK,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,1.0,1.0,202.0,0.0,1480000.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,2.5,1.0,0.0,156.0,79.0,1035000.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [31]:
x = df.drop('Price', axis = 1)
y = df['Price']

In [32]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=2)

In [33]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(xtrain, ytrain)

In [34]:
lr.score(xtest,ytest)

0.5499941236362802

In [35]:
lr.score(xtrain, ytrain)

0.6729195962222221

In [37]:
from sklearn.linear_model import Lasso
la = Lasso(alpha=50, max_iter=100, tol=0.1)
la.fit(xtrain, ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1338510440039826.8, tolerance: 796258688308225.6
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=100, tol=0.1)

In [38]:
la.score(xtest,ytest)

0.6604727824544709

In [39]:
la.score(xtrain, ytrain)

0.6679047755575769

In [40]:
from sklearn.linear_model import Ridge
re = Ridge(alpha=50, max_iter=100, tol=0.1)
re.fit(xtrain, ytrain)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [41]:
re.score(xtest,ytest)

0.6506034169991604

In [42]:
re.score(xtrain, ytrain)

0.6479873854382412