In [1]:
import pandas as pd
df = pd.read_csv("spam14.csv")
df.head(3)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [2]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [3]:
df['spam']=df['Category'].apply(lambda x: 1 if x =='spam' else 0)
df.head(3)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1

In [4]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(df.Message, df.spam, test_size =0.3)

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
xtraincount = v.fit_transform(xtrain.values)
xtraincount.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(xtraincount, ytrain)

MultinomialNB()

In [7]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [8]:
xtestcount = v.transform(xtest)

In [9]:
model.score(xtestcount, ytest)

0.9850478468899522

In [10]:
model.predict(xtestcount)

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

## Pipeline

In [11]:
from sklearn.pipeline import Pipeline
clf = Pipeline([('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [12]:
clf.fit(xtrain,ytrain)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [13]:
clf.score(xtest, ytest)

0.9850478468899522

In [14]:
clf.predict(emails)

array([0, 1], dtype=int64)